/* Global Styles */

:root{
    --primary-dark: rgb(83, 150, 129);
    --primary-light: rgb(221, 212, 212);
    --link-color: rgb(100,100,100);

    --card-color: rgb(230,230,230);
    --card-hover-color: white;

    --nav-height: 5.5rem;
    font-family: roboto;
}

* {
    transition: 0.1s all;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: var(--nav-height);
}

body{
    margin:0px;
    display:flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

a{
    color: var(--link-color);
}




/* Navigation Styles */

#hamburgerCheckbox, #hamburgerLabel{
    display: none;
}


nav{
    position:sticky;
    top:0;
    background: whitesmoke;
    box-shadow: 0px 4px 6px -3px rgb(100,100,100);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: var(--nav-height);
    
    z-index:1000;
}

nav #logo{
    font-size:20pt;
    transform-origin:center;
    transform: rotate(-deg);
}

nav ul {
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    display: block;
    border-bottom: 2px solid black;
    margin: 0em 0.2em;
}

nav li:hover{
    border-bottom: 4px solid black;
}

nav li.active {
    border-bottom: 4px solid black;
}

nav a {
    text-decoration: none;
    padding: 1rem 0rem;
    display: block;
    text-transform: uppercase;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    justify-content: space-around;
}

.card {
    width: 20rem;
    padding: 1.5rem;
    margin: 1.5rem;
    background-color: var(--card-color);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: column;
}

.card:hover{
    background-color: var(--card-hover-color);
}

.card > a > img {
    max-width: 100%;
    height: 20rem;
    /* border: 2px solid red; */
}


.card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}




/* Body Styles */

.background {
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    overflow:hidden;
    z-index:-9;
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}

#home{
    justify-content: center;
    align-items: flex-start;
    padding: 5rem;
    box-sizing: border-box;
}

#home h1{
    font-weight: 100;
    font-size: 40pt;
    line-height: 0.5rem;
}

#home .overlay{
    position: relative;
    padding:2rem;
    background-color: rgba(230,230,230, 0.6);
    box-shadow: 2px 2px 100px -50px black;
}


.bgIframe{
    position:absolute;
    width:100vw;
    height:100%;
    top:0px;
    left:0px;
    max-width: 100vw;
}

section > :not(.bgIframe){
    z-index: 4;
}

section{
    min-height: calc(100vh - var(--nav-height));
    background: var(--primary-light);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position:relative;
    overflow:hidden;

    scroll-snap-align: start;
}

section > .anchor {
    position: absolute;
    top: calc(-1*var(--nav-height));
}

section > *{
    max-width: 60rem;
}

.wide {
    max-width: none;
}

section:nth-child(odd){
    background: var(--primary-dark);
}




section h1{
    display: inline-block;
    position:relative;
}




/* Custom trackbar */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0,0,50);
    border-radius: 5px;
}